<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpeg" %>
  </div>
  <div id="content">
    <h1>It's Mr. Abul Kashem Figure</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias architecto asperiores at, consectetur deleniti eius enim esse eum fugiat hic illo illum inventore, ipsa magni maiores molestiae possimus qui quidem quisquam ratione, sit sunt voluptatibus! Ab, optio sit. Aliquid autem consequatur cumque, labore laboriosam repellendus similique. Accusantium aliquid dolore ducimus maxime officiis, similique totam vel! Ab accusantium animi beatae consequatur cum deleniti deserunt dolore doloribus eaque earum eum excepturi facilis fugiat hic impedit incidunt itaque labore magnam minima, mollitia nam necessitatibus nihil officia pariatur quasi quis sunt velit vitae voluptates voluptatibus. Ad adipisci asperiores atque consequuntur deleniti ducimus enim eos, exercitationem fuga inventore itaque iure magni maiores quasi quo quos repudiandae sunt vel velit vero? Accusantium architecto, aut dicta ducimus excepturi laboriosam magnam maxime molestias necessitatibus nisi, nostrum nulla sed similique
      veniam veritatis voluptatem voluptatibus? Culpa error facere quam rem!</p>
  </div>
</div>